[mysqld]
ndbcluster
default-storage-engine = ndbcluster

user = root
ndb-connectstring=0.0.0.0
datadir         = /etc/rondb/mysqld
port            = 3306
socket          = /etc/rondb/log/mysql.sock
pid-file        = /etc/rondb/log/mysql_52.pid

[mysql_cluster]
ndb-connectstring=0.0.0.0