[NDBD DEFAULT]

NoOfReplicas=1

AutomaticMemoryConfig=false
AutomaticThreadConfig=false

DataMemory=128M

[ndb_mgmd]
NodeId=49
PortNumber=1186
Hostname=0.0.0.0
DataDir=/etc/rondb/log

[ndbd]
NodeId=1
ServerPort=10000
Hostname=0.0.0.0
DataDir=/etc/rondb/data

[mysqld]
NodeId=52
Hostname=0.0.0.0

[API]

[API]

[API]
